## Task

In this compulsory task you will clean the country column and parse the date column in the **store_income_data_task.csv** file.

In [16]:
import pandas as pd
from datetime import date
#Load up store_income_data.csv
df = pd.read_csv('store_income_data_task.csv')

1. Take a look at all the unique values in the "country" column. Then, convert the column to lowercase and remove any trailing white spaces.

In [17]:
df['country'] = df['country'].str.lower().str.strip()

2. Note that there should only be three separate countries. Eliminate all variations, so that 'South Africa', 'United Kingdom' and 'United States' are the only three countries.

In [18]:
countries = ['south africa', 'united kingdom', 'united states']
df = df[df['country'].isin(countries)]

3. Create a new column called `days_ago` in the DataFrame that is a copy of the 'date_measured' column but instead it is a number that shows how many days ago it was measured from the current date. Note that the current date can be obtained using `datetime.date.today()`.

In [19]:
df['date_measured'] = pd.to_datetime(df['date_measured'], format='%d-%m-%Y')
current_date = pd.Timestamp(date.today())
df['days_ago'] = (current_date - df['date_measured']).dt.days
print(df)

       id                                         store_name  \
2       3                              Stag Industrial, Inc.
4       5                        Mercantile Bank Corporation
9      10                                     Synopsys, Inc.
11     12                               TrustCo Bank Corp NY
44     45        Allied World Assurance Company Holdings, AG
..    ...                                                ...
981   982                 American International Group, Inc.
990   991                       Central Garden & Pet Company
992   993                         United Natural Foods, Inc.
996   997  WisdomTree Interest Rate Hedged High Yield Bon...
999  1000                                    SLM Corporation

                     store_email   department        income date_measured  \
2                            NaN       Beauty  $36152340.34    2003-09-12
4                            NaN         Baby  $33552742.32    1973-01-21
9        lcancellieri9@tmall.com  Electronics  $44091294.62    2006-07-11
11                           NaN       Garden  $24853409.58    1993-03-08
44   kwestley18@odnoklassniki.ru         Kids  $29713982.25    1975-12-02
..                           ...          ...           ...           ...
981                          NaN     Outdoors  $64794322.43    2009-06-05
990                          NaN       Sports  $76435564.22    2012-02-14
992                          NaN        Books  $71241644.37    2009-09-09
996                          NaN  Electronics  $60473676.46    1990-12-19
999                          NaN         Kids  $66106336.48    2011-12-01

            country  days_ago
2     united states      7534
4    united kingdom     18725
9    united kingdom      6501
11    united states     11374
44   united kingdom     17680
..              ...       ...
981  united kingdom      5441
990  united kingdom      4457
992   united states      5345
996   united states     12184
999  united kingdom      4532

[119 rows x 8 columns]